<form method="post" class="input-group" action="/add">
  <input class="form-control" id="content" type="text" name="content" value="" />
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Add</button>
  </span>
</form>

<table class="table">
  <thead>
    <tr>
      <td>Content</td>
      <td>Time</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    {% for t in todos %}
    <tr>
      <td>{{ t.content }}</td>
      <td>{{ t.time }}</td>
      <td>{{ t.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
